
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');




*{
    box-sizing: border-box;
}
body{ 
    
    text-align: center;
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    text-shadow: 2px 1px 1px rgba(105, 12, 12, 0.754);
    background: black;
    color: rgb(66, 66, 62);

}   

.title{
    margin-top: 150px;
}

header{
text-align: center;

}

main{
display: inline-flex;
}
.CaraCoroa{
   text-align: center;
}

body button{
    border-radius: 25px;
    box-shadow: 0 2px 10px rgb(248, 241, 241);
    width: 200px;
    background-image: linear-gradient(45deg,rgb(8, 8, 75),red);
    color: rgb(0, 64, 119);
     border: none;
    cursor: pointer;
    border-radius: 50px;
    color: aliceblue;

}

@keyframes pulo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

button:hover{
    animation-name: pulo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.mago button{
    margin-left: 40px;
}
.mago h2{
    margin-right: 20px;
}
.mago img{
    
    width: 300px;
    
}

.cavaleiro img{
    
    width: 210px;
}
.cavaleiro button{
    margin-left: 20px;
}
.cavaleiro{
    margin-left: 60px;
}

.joker{
    margin-left: 60px;
}

.joker img{
    width:315px;
}
.joker button{
    margin-top: 28px;
    margin-left: 90px;
}
.healer{
    margin-left: 60px;
}

.healer button{
margin-top: 45px;
}


footer a{
    text-align: center;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(45deg,blue,red,blue);
    background-size: 400% 100%  ;
    animation:animarTexto 10s linear infinite alternate  ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
@keyframes animarTexto{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }

}
h2{
    text-align: center;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

p{
    display: block;
    text-align: center;
}

    
.Regras{
    color: rgb(8, 122, 117);
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden;
    text-shadow: none;
    animation: revelar 2s linear forwards;
}
@keyframes revelar{
    0%{
        width: 0px;
        height: 0px;
    }
    30%{
        width: 1280px;
        height: 0px;
    }
    60%{
        width: 1280px;
        height: 80px;
    }
    80%{
        width: 1280px;
        height: 80px;
    }

    100%{
        width: 1280px;
        height: 80px;
    }
}







    @keyframes animate{
    
        0%{
            top: -100%;
        }
        20%{
            top: 0%;
            background: transparent;
            color: rgb(156, 10, 10);
    
        }
        40%{
            top: 0%;
            background: #940d0d;
            color: rgb(38, 16, 160);
        }
        60%{
            top: 0%;
            background: transparent;
            color:#790c0c;
        }
        80%{
            top: -20%;
            background: transparent;
            color:#2f147a;
        }
        100%{
            top: 100%;
        }
    
    }



    ul{
        font-family: "Permanent Marker", cursive;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%,-50%) skew(-25deg);
        display: flex;
        margin: 0;
        padding: 0;
        border: 4px solid rgb(0, 0, 0);
        box-shadow: 0px 20px 10px   rgba(0 ,0,0,.2);
    }
    ul li{
        position: relative;
        list-style: none;
        width: 90px;
        height: 80px;
        background: rgb(23, 2, 63);
        font-size: 3em;
        color: rgba(0,0,0,.1);
        text-align: center;
        line-height: 80px;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 -1px;
    }
    ul li::before{
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #262626;
        animation: animate 2s linear infinite;
    }    
    ul li:nth-child(1)::before{
        animation-delay: 0s;
    
    }
    ul li:nth-child(2)::before{
        animation-delay: 0.1s;
    
    }
    ul li:nth-child(3)::before{
        animation-delay: 0.2s;
    
    }
    ul li:nth-child(4)::before{
        animation-delay: 0.3s;
    
    }
    ul li:nth-child(5)::before{
        animation-delay: 0.4s;
    
    }
    ul li:nth-child(6)::before{
        animation-delay: 0.5s;
    
    }
    ul li:nth-child(7)::before{
        animation-delay: 0.6s;
    
    }
    ul li:nth-child(8)::before{
        animation-delay: 0.7s;
    
    }
    ul li:nth-child(9)::before{
        animation-delay: 0.8s;
    
    }
    ul li:nth-child(10)::before{
        animation-delay: 0.9s;
    
    }
    ul li:nth-child(11)::before{
        animation-delay: 1s;
    
    }
    ul li:nth-child(12)::before{
        animation-delay: 1.1s;
    
    }
    ul li:nth-child(13)::before{
        animation-delay:1.2s;
    
    }
    ul li:nth-child(14)::before{
        animation-delay: 1.3s;
    
    }
    ul li:nth-child(15)::before{
        animation-delay: 1.4s;
    
    }




